// Base
/* :root
    box-sizing: border-box
    min-height: 100%
    position: relative

*
    &,
    &:before,   
    &:after
        box-sizing: border-box */


body
    font-family: '4', 'Helvetica Neue', sans-serif
    font-size: 16px
    line-height: 26px  
    letter-spacing: 0
    color: #00000f

p 
    font-family: '3', 'Helvetica Neue', sans-serif
    font-size 13px

h3  
    font-family: '5'
    font-weight: 500

a  
    font-family: '2'
    font-weight: 600

/* @media (min-width 1200px)
    .container {
        //width: 1170px
    } */